@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

main {
    width: 1366px;
    margin: 0 auto;
}

.padding-site {
    padding: 0 98px;
}


/*Slider Block start*/

.slider {
    height: 800px;
    background-image: url('img/slider.jpg');
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 288px;
}

.logo {
    margin-top: 63px;
}

.menu {
    margin-top: 57px;
    list-style-type: none;
}

.menu li {
    display: inline-flex;
    text-transform: uppercase;
}

.menu li a {
    text-decoration: none;
}

.menu a {
    font-size: 14px;
    padding: 10px 13px;
    letter-spacing: 1.4px;
    text-align: right;
    color: #8c8c8c;
}

a.active {
    font-weight: bold;
    color: #212121;
    border-bottom: 3px solid #212121;
}

.slider-box {
    width: 458px;
}

.slider-box h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 13px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #43a047;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.slider-box h2 {
    font-size: 62px;
    font-weight: 100;
    line-height: 1.16;
    text-align: left;
    color: #212121;
    margin-bottom: 34px;
}

.slider-box p {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    color: #6c6c6c;
    margin-bottom: 32px;
}

.order-us {
    /*
    box-sizing: border-box;
    padding: 0 31px;*/
    display: block;
    float: left;
    border-radius: 22.5px;
    box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 29px;
}

.order-us:hover {
    box-shadow: 0px 2px 4.9px 0.2px rgba(66, 666, 33, 0.35);
}


/*Slider Block end*/


/*Product Block Start*/

.product-block {
    height: 609px;
    margin-top: 120px;
}

.product-block-highlight {
    display: flex;
    justify-content: space-between;
}

.product-block-highlight ul {
    list-style-type: none;
    display: flex;
}

.product-block-highlight>a {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
}

.product-block-highlight ul li {
    padding-right: 26px;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 1px #6c6c6c solid;
}

.product-block-highlight ul li:hover {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    border-bottom: #212121 solid 3px;
}

.product-block-highlight li a {
    text-decoration: none;
    color: #6c6c6c;
}


/* Style for "Featured" */

.featured {
    height: 27px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.product-block-highlight li a:hover {
    color: #212121;
}

.product-block-images {
    display: flex;
    margin-top: 72px;
}

.product-block-images img {
    margin-right: 30px;
}


/*Product Block end*/


/* Exclusive Block start*/

.fishnet-exclusive {
    display: flex;
    margin-bottom: 118px;
}

.exclusive-red {
    background: url('img/exclusive-chair/promo-red.png');
    height: 683px;
    width: 683px;
}

div.exclusive-red>h4 {
    /* Style for "exclusive" */
    margin: 228px 514px 2px 51px;
    color: #1e88e5;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "exclusive" */
    color: #1e88e5;
    letter-spacing: 1.8px;
}

div.exclusive-red>h3 {
    /* Style for "Fishnet Ch" */
    margin-left: 52px;
    margin-bottom: 3px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

div.exclusive-red>p {
    /* Style for "Seat and b" */
    margin-right: 259px;
    margin-left: 50px;
    margin-bottom: 33px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    text-align: left;
}

div.exclusive-red>a {
    margin-left: 50px;
}

.exclusive-brown {
    background: url('img/exclusive-chair/promo-brown.png');
    height: 683px;
    width: 683px;
}


/* Style for "exclusive brown heading" */

div.exclusive-brown>h4 {
    margin: 228px 514px 2px 51px;
    color: #1e88e5;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
    /* Text style for "exclusive" */
    color: #1e88e5;
    letter-spacing: 1.8px;
}

div.exclusive-brown>h3 {
    /* Style for "Fishnet Ch" */
    margin-left: 52px;
    margin-bottom: 3px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

div.exclusive-brown>p {
    /* Style for "Seat and b" */
    margin-right: 259px;
    margin-left: 50px;
    margin-bottom: 33px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    text-align: left;
}

div.exclusive-brown>a {
    margin-left: 50px;
}


/*Trending Products*/

.trending-products {
    margin-bottom: 120px;
}

div.trending-highlight {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}

.trending-highlight>h3 {
    /* Style for "Trending P" */
    font-size: 36px;
    text-align: left;
}

.trending-highlight>a {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
}

.trending-first-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.trending-second-row {
    display: flex;
    justify-content: space-evenly;
}


/* Footer start*/

.phone-app {
    height: 516px;
    background: url('img/phone-app.png');
}

.footer {
    height: 384px;
    background-color: #f7f7f7;
}

.footer-subheaders {
    display: flex;
    justify-content: space-between;
}

.footer-subheaders h3 {
    margin-top: 120px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-align: left;
    color: #6c6c6c;
}

.footer-subcontent {
    display: flex;
    justify-content: space-between;
}

.footer-subcontent li {
    list-style-type: none;
}

.footer-subcontent a {
    text-decoration: none;
}

.company-contacts {
    margin-right: 78px;
}

.footer-sales-links {
    margin-right: 98px;
}

.footer-others-links {
    margin-right: 72px;
}


/*Footer end*/